@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;500&display=swap');

body {
  background-color: #b2e8b5;
  font-family: 'Crimson Text', serif; 
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 3rem;
  color: #4d6e42;
  margin-bottom: 20px;
}

label {
  font-size: 1.5rem;
  color: #4d6e42;
}

button {
  background-color: #4d6e42;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 10px;
  margin: 10px;
  transition: background-color 0.3s;
  font-family: 'Crimson Text', serif; 
}

button:hover {
  background-color: #6e8e58;
}

button:disabled {
  background-color: #a5c3a6;
  cursor: not-allowed;
}

select {
  font-size: 1.2rem;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #4d6e42;
  margin: 10px;
}

.progress-bars {
	display: flex;
	gap: 5%;
	justify-content: center;
}
